PORT=8089
DB_NAME=
DB_USER=
DB_HOST=
DB_PORT=
JWT_SECRET=""
JWT_REFRESH_SECRET=""
EMAIL_FROM=
BREVO_API_KEY=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
STRIPE_SECRET_KEY=""
STRIPE_PUBLISH_KEY=""